/* FONTS */

$font-body: 'Roboto';
$li-text: .8em;



/* COLORS */

$white:         #FFF;
$orange:        #E65C43;
$graphite:      #666;
$banner-orange: #F25C43;
$greybar:       #F5F6F6;
$navy-gray:     #30353D;



/* IMAGES */

$img-background: '../images/bg.gif';
$img-logo: '../images/logo.png';
$img-social-media: '../images/social-media.png';


/* MEDIA QUERIES */

$mq-lg: 959px;
$mq-md: 767px;
$mq-sm: 459px;
